# Pre-Processing

In [1]:
from google.colab import drive
drive.mount('/content/drive')
import warnings
warnings.filterwarnings('ignore')

Mounted at /content/drive

In [2]:
%cd /content/drive/My Drive/Rakamin FinPro/

/content/drive/My Drive/Rakamin FinPro

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("SBAnational.csv", parse_dates=['ApprovalDate', 'DisbursementDate'])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899164 entries, 0 to 899163
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   LoanNr_ChkDgt      899164 non-null  int64
 1   Name               899150 non-null  object
 2   City               899134 non-null  object
 3   State              899150 non-null  object
 4   Zip                899164 non-null  int64
 5   Bank               897605 non-null  object
 6   BankState          897598 non-null  object
 7   NAICS              899164 non-null  int64
 8   ApprovalDate       899164 non-null  datetime64[ns]
 9   ApprovalFY         899164 non-null  object
 10  Term               899164 non-null  int64
 11  NoEmp              899164 non-null  int64
 12  NewExist           899028 non-null  float64
 13  CreateJob          899164 non-null  int64
 14  RetainedJob        899164 non-null  int64
 15  FranchiseCode      899164 non-null  int64
 16  UrbanRural         899164 non-null  int64
 17  RevLineCr          894636 non-null  object
 18  LowDoc             896582 non-null  object
 19  ChgOffDate         162699 non-null  object
 20  DisbursementDate   896796 non-null  datetime64[ns]
 21  DisbursementGross  899164 non-null  object
 22  BalanceGross       899164 non-null  object
 23  MIS_Status         897167 non-null  object
 24  ChgOffPrinGr       899164 non-null  object
 25  GrAppv             899164 non-null  object
 26  SBA_Appv           899164 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(9), object(15)
memory usage: 185.2+ MB

### Mengatasi ApprovalFY yang memiliki niali string

In [6]:
def change_year(x):
    if x['ApprovalFY'] == '1976A':
        return 1976
    else:
        return int(x['ApprovalFY'])
    
df['ApprovalFY'] = df.apply(change_year,axis=1)

### Mengatasi DisbursementGross, BalanceGross, ChgOffPrinGr, GrAppv, SBA_Appv yang memiliki tanda '$' dan ','

In [7]:
def remove_sign(item):
        new = item.replace('$','')
        new2 = new.replace(' ','')
        new3 = new2.replace(',','')
        return float(new3)

df['DisbursementGross'] = df['DisbursementGross'].apply(lambda x : remove_sign(x))
df['BalanceGross'] = df['BalanceGross'].apply(lambda x : remove_sign(x))
df['ChgOffPrinGr'] = df['ChgOffPrinGr'].apply(lambda x : remove_sign(x))
df['GrAppv'] = df['GrAppv'].apply(lambda x : remove_sign(x))
df['SBA_Appv'] = df['SBA_Appv'].apply(lambda x : remove_sign(x))

### Mengambil 2 digit pertama dari kolom NAICS dan menghilangkan value 0

In [8]:
# Mengambil 2 digit pertama
naics = []
for item in df['NAICS']:
    if item == 0 :
        naics.append(0)
    else :
        a = list(str(item))[:2]
        b = ''.join(a)
        naics.append(b)

df['NAICS'] = naics


# Drop 0
index_naics = []
for item in list(df[df['NAICS'] == 0].index):
    index_naics.append(item)

df.drop(index_naics,inplace=True)

In [9]:
# Mengganti 2 digit dari NAICS menjadi nama sektor industri terkait
df['NAICS'] = df['NAICS'].map({
    '11': 'Agriculture / Forestry / Fishing / Hunting',
    '21': 'Mining / Quarrying / Oil&Gas Extraction',
    '22': 'Utilities',
    '23': 'Construction',
    '31': 'Manufacturing',
    '32': 'Manufacturing',
    '33': 'Manufacturing',
    '42': 'Wholesale trade',
    '44': 'Retail trade',
    '45': 'Retail trade',
    '48': 'Transportation / Warehousing',
    '49': 'Transportation / Warehousing',
    '51': 'Information',
    '52': 'Finance / Insurance',
    '53': 'Real Estate / Rental / Leasing',
    '54': 'Proffesional / Scientific / Tech.Service',
    '55': 'Management of Companies and Enterprises',
    '56': 'Administrative & Support / Waste Management / Remediation Services',
    '61': 'Educational',
    '62': 'Health Care / Social Assistance',
    '71': 'Arts / Entertainment / Recreation',
    '72': 'Accomodation / Food Services',
    '81': 'Other Services (except public admin)',
    '92': 'Public Administration'
})

### Menghilangkan value selain 'Y' or 'N' pada column LowDoc, karena tidak terdefinisi dan tidak memiliki arti

In [10]:
index_drop_lowdoc = []
for index in list(df[(df['LowDoc'] != 'N') & (df['LowDoc'] != 'Y')].index):
    index_drop_lowdoc.append(index)

df.drop(index_drop_lowdoc,inplace=True)

## Data Cleansing

In [11]:
dfc_v1 = df.copy()

### Handle Missing Values

In [12]:
# Check column with missing values
dfc_v1.isnull().sum()

LoanNr_ChkDgt             0
Name                     11
City                      0
State                     8
Zip                       0
Bank                    622
BankState               625
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                132
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr              2207
LowDoc                    0
ChgOffDate           548399
DisbursementDate       1914
DisbursementGross         0
BalanceGross              0
MIS_Status             1708
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
dtype: int64

In [13]:
# Check column with 0 values
dfc_v1.eq(0).any()

LoanNr_ChkDgt        False
Name                 False
City                 False
State                False
Zip                   True
Bank                 False
BankState            False
NAICS                False
ApprovalDate         False
ApprovalFY           False
Term                  True
NoEmp                 True
NewExist              True
CreateJob             True
RetainedJob           True
FranchiseCode         True
UrbanRural            True
RevLineCr            False
LowDoc               False
ChgOffDate           False
DisbursementDate     False
DisbursementGross     True
BalanceGross          True
MIS_Status           False
ChgOffPrinGr          True
GrAppv               False
SBA_Appv             False
dtype: bool

In [14]:
 # Mengatasi missing value pada column MIS_Status
dfc_v1['MIS_Status'] = np.where(dfc_v1['ChgOffPrinGr'] == 0, 'P I F', 'CHGOFF')

In [15]:
# Mengatasi column Term, NoEmp, NewExist, UrbanRural yang memiliki nilai 0

# Term
term = []
for item in list(dfc_v1[dfc_v1['Term'] == 0].index):
    term.append(item)

dfc_v1.drop(term,inplace=True)

# NoEmp
noemp = []
for item in list(dfc_v1[dfc_v1['NoEmp'] == 0].index):
    noemp.append(item)

dfc_v1.drop(noemp,inplace=True)

# NewExist
newexist = []
for item in list(dfc_v1[dfc_v1['NewExist'] == 0].index):
    newexist.append(item)

dfc_v1.drop(newexist,inplace=True)

# UrbanRural
urbanrural = []
for item in list(dfc_v1[dfc_v1['UrbanRural'] == 0].index):
    urbanrural.append(item)

dfc_v1.drop(urbanrural,inplace=True)

### Handle Duplicated Data

In [17]:
dfc_v1.duplicated().sum()

0

> Tidak ada data yang duplicated, sehingga tidak perlu melakukan apapun

### Handle Outliers

In [18]:
# Mengatasi outliers di NoEmp, karena jumlah maksimal NoEmp diantara 250 - 1500
dfc_v1 = dfc_v1[dfc_v1['NoEmp'] <= 1500]

In [19]:
# Mengatasi outliers di DisbursementGross, menggunakan data yang value DisbursementGross < GrAppv & DisbursementGross == GrAppv
dfc_v1 = dfc_v1[dfc_v1['DisbursementGross'] <= dfc_v1['GrAppv']]

### Feature Transformation

### Feature Encoding

In [20]:
# Mengubah value NewExist
def change_newexist(x):
    # Value 1 akan diubah menjadi 1 (Existing business)
    if x == 1:
        return 1
    # Value 2 akan diubah menjadi 0 (New business)
    else:
        return 0
dfc_v1['NewExist'] = dfc_v1['NewExist'].apply(lambda x : change_newexist(x))

In [21]:
# Mengubah value FranchiseCode
def change_franchise(x):
    # Value 1 atau 0 akan diubah menjadi 0 (No Franchise)
    if (x == 1) | (x == 0):
        return 0
    # Value selain dari 1 atau 0 akan diubah menjadi 1 (Have Franchise)
    else :
        return 1

dfc_v1['FranchiseCode'] = dfc_v1['FranchiseCode'].apply(lambda x: change_franchise(x))

In [22]:
# Mengubah value UrbanRural
def change_urbanrural(x):
    # Value 1 akan diubah menjadi 1 (Urban)
    if x == 1:
        return 1
    # Value 2 akan diubah menjadi 0 (Rural)
    else:
        return 0

dfc_v1['UrbanRural'] = dfc_v1['UrbanRural'].apply(lambda x : change_urbanrural(x))

In [23]:
# Mengubah value LowDoc
def change_lowdoc(x):
    # Value N akan diubah menjadi 0
    if x == 'N':
        return 0
    # Value Y akan diubah menjadi 1
    else :
        return 1

dfc_v1['LowDoc'] = dfc_v1['LowDoc'].apply(lambda x: change_lowdoc(x))

In [24]:
# Mengubah value MIS_Status (PIF = 0, CHGOFF = 1)
dfc_v1['MIS_Status'] = dfc_v1['MIS_Status'].replace({'P I F': 0, 'CHGOFF':1})

In [25]:
# One hot encoding NAICS & State
dfc_v1 = pd.get_dummies(dfc_v1, columns=['NAICS', 'State'], drop_first=True, dtype=int)

In [26]:
dfc_v1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392169 entries, 12 to 898660
Data columns (total 94 columns):
 #   Column                                                                    Non-Null Count   Dtype
---  ------                                                                    --------------   -----
 0   LoanNr_ChkDgt                                                             392169 non-null  int64
 1   Name                                                                      392164 non-null  object
 2   City                                                                      392169 non-null  object
 3   Zip                                                                       392169 non-null  int64
 4   Bank                                                                      392160 non-null  object
 5   BankState                                                                 392160 non-null  object
 6   ApprovalDate                                                              392169 non-null  datetime64[ns]
 7   ApprovalFY                                                                392169 non-null  int64
 8   Term                                                                      392169 non-null  int64
 9   NoEmp                                                                     392169 non-null  int64
 10  NewExist                                                                  392169 non-null  int64
 11  CreateJob                                                                 392169 non-null  int64
 12  RetainedJob                                                               392169 non-null  int64
 13  FranchiseCode                                                             392169 non-null  int64
 14  UrbanRural                                                                392169 non-null  int64
 15  RevLineCr                                                                 391629 non-null  object
 16  LowDoc                                                                    392169 non-null  int64
 17  ChgOffDate                                                                82142 non-null   object
 18  DisbursementDate                                                          390671 non-null  datetime64[ns]
 19  DisbursementGross                                                         392169 non-null  float64
 20  BalanceGross                                                              392169 non-null  float64
 21  MIS_Status                                                                392169 non-null  int64
 22  ChgOffPrinGr                                                              392169 non-null  float64
 23  GrAppv                                                                    392169 non-null  float64
 24  SBA_Appv                                                                  392169 non-null  float64
 25  NAICS_Administrative & Support / Waste Management / Remediation Services  392169 non-null  int64
 26  NAICS_Agriculture / Forestry / Fishing / Hunting                          392169 non-null  int64
 27  NAICS_Arts / Entertainment / Recreation                                   392169 non-null  int64
 28  NAICS_Construction                                                        392169 non-null  int64
 29  NAICS_Educational                                                         392169 non-null  int64
 30  NAICS_Finance / Insurance                                                 392169 non-null  int64
 31  NAICS_Health Care / Social Assistance                                     392169 non-null  int64
 32  NAICS_Information                                                         392169 non-null  int64
 33  NAICS_Management of Companies and Enterprises                             392169 non-null  int64
 34  NAICS_Manufacturing                                                       392169 non-null  int64
 35  NAICS_Mining / Quarrying / Oil&Gas Extraction                             392169 non-null  int64
 36  NAICS_Other Services (except public admin)                                392169 non-null  int64
 37  NAICS_Proffesional / Scientific / Tech.Service                            392169 non-null  int64
 38  NAICS_Public Administration                                               392169 non-null  int64
 39  NAICS_Real Estate / Rental / Leasing                                      392169 non-null  int64
 40  NAICS_Retail trade                                                        392169 non-null  int64
 41  NAICS_Transportation / Warehousing                                        392169 non-null  int64
 42  NAICS_Utilities                                                           392169 non-null  int64
 43  NAICS_Wholesale trade                                                     392169 non-null  int64
 44  State_AL                                                                  392169 non-null  int64
 45  State_AR                                                                  392169 non-null  int64
 46  State_AZ                                                                  392169 non-null  int64
 47  State_CA                                                                  392169 non-null  int64
 48  State_CO                                                                  392169 non-null  int64
 49  State_CT                                                                  392169 non-null  int64
 50  State_DC                                                                  392169 non-null  int64
 51  State_DE                                                                  392169 non-null  int64
 52  State_FL                                                                  392169 non-null  int64
 53  State_GA                                                                  392169 non-null  int64
 54  State_HI                                                                  392169 non-null  int64
 55  State_IA                                                                  392169 non-null  int64
 56  State_ID                                                                  392169 non-null  int64
 57  State_IL                                                                  392169 non-null  int64
 58  State_IN                                                                  392169 non-null  int64
 59  State_KS                                                                  392169 non-null  int64
 60  State_KY                                                                  392169 non-null  int64
 61  State_LA                                                                  392169 non-null  int64
 62  State_MA                                                                  392169 non-null  int64
 63  State_MD                                                                  392169 non-null  int64
 64  State_ME                                                                  392169 non-null  int64
 65  State_MI                                                                  392169 non-null  int64
 66  State_MN                                                                  392169 non-null  int64
 67  State_MO                                                                  392169 non-null  int64
 68  State_MS                                                                  392169 non-null  int64
 69  State_MT                                                                  392169 non-null  int64
 70  State_NC                                                                  392169 non-null  int64
 71  State_ND                                                                  392169 non-null  int64
 72  State_NE                                                                  392169 non-null  int64
 73  State_NH                                                                  392169 non-null  int64
 74  State_NJ                                                                  392169 non-null  int64
 75  State_NM                                                                  392169 non-null  int64
 76  State_NV                                                                  392169 non-null  int64
 77  State_NY                                                                  392169 non-null  int64
 78  State_OH                                                                  392169 non-null  int64
 79  State_OK                                                                  392169 non-null  int64
 80  State_OR                                                                  392169 non-null  int64
 81  State_PA                                                                  392169 non-null  int64
 82  State_RI                                                                  392169 non-null  int64
 83  State_SC                                                                  392169 non-null  int64
 84  State_SD                                                                  392169 non-null  int64
 85  State_TN                                                                  392169 non-null  int64
 86  State_TX                                                                  392169 non-null  int64
 87  State_UT                                                                  392169 non-null  int64
 88  State_VA                                                                  392169 non-null  int64
 89  State_VT                                                                  392169 non-null  int64
 90  State_WA                                                                  392169 non-null  int64
 91  State_WI                                                                  392169 non-null  int64
 92  State_WV                                                                  392169 non-null  int64
 93  State_WY                                                                  392169 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(81), object(6)
memory usage: 284.2+ MB

### Handle Class Imbalance

## Feature Engineering

### Feature Selection

In [27]:
dfc_v2 = dfc_v1.drop(['LoanNr_ChkDgt',
                      'Name',
                      'City',
                      'Zip',
                      'Bank',
                      'BankState',
                      'ApprovalDate',
                      'CreateJob',
                      'RetainedJob',
                      'RevLineCr',
                      'ChgOffDate',
                      'BalanceGross',
                      'ChgOffPrinGr'], 
                     axis=1)
dfc_v2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392169 entries, 12 to 898660
Data columns (total 81 columns):
 #   Column                                                                    Non-Null Count   Dtype
---  ------                                                                    --------------   -----
 0   ApprovalFY                                                                392169 non-null  int64
 1   Term                                                                      392169 non-null  int64
 2   NoEmp                                                                     392169 non-null  int64
 3   NewExist                                                                  392169 non-null  int64
 4   FranchiseCode                                                             392169 non-null  int64
 5   UrbanRural                                                                392169 non-null  int64
 6   LowDoc                                                                    392169 non-null  int64
 7   DisbursementDate                                                          390671 non-null  datetime64[ns]
 8   DisbursementGross                                                         392169 non-null  float64
 9   MIS_Status                                                                392169 non-null  int64
 10  GrAppv                                                                    392169 non-null  float64
 11  SBA_Appv                                                                  392169 non-null  float64
 12  NAICS_Administrative & Support / Waste Management / Remediation Services  392169 non-null  int64
 13  NAICS_Agriculture / Forestry / Fishing / Hunting                          392169 non-null  int64
 14  NAICS_Arts / Entertainment / Recreation                                   392169 non-null  int64
 15  NAICS_Construction                                                        392169 non-null  int64
 16  NAICS_Educational                                                         392169 non-null  int64
 17  NAICS_Finance / Insurance                                                 392169 non-null  int64
 18  NAICS_Health Care / Social Assistance                                     392169 non-null  int64
 19  NAICS_Information                                                         392169 non-null  int64
 20  NAICS_Management of Companies and Enterprises                             392169 non-null  int64
 21  NAICS_Manufacturing                                                       392169 non-null  int64
 22  NAICS_Mining / Quarrying / Oil&Gas Extraction                             392169 non-null  int64
 23  NAICS_Other Services (except public admin)                                392169 non-null  int64
 24  NAICS_Proffesional / Scientific / Tech.Service                            392169 non-null  int64
 25  NAICS_Public Administration                                               392169 non-null  int64
 26  NAICS_Real Estate / Rental / Leasing                                      392169 non-null  int64
 27  NAICS_Retail trade                                                        392169 non-null  int64
 28  NAICS_Transportation / Warehousing                                        392169 non-null  int64
 29  NAICS_Utilities                                                           392169 non-null  int64
 30  NAICS_Wholesale trade                                                     392169 non-null  int64
 31  State_AL                                                                  392169 non-null  int64
 32  State_AR                                                                  392169 non-null  int64
 33  State_AZ                                                                  392169 non-null  int64
 34  State_CA                                                                  392169 non-null  int64
 35  State_CO                                                                  392169 non-null  int64
 36  State_CT                                                                  392169 non-null  int64
 37  State_DC                                                                  392169 non-null  int64
 38  State_DE                                                                  392169 non-null  int64
 39  State_FL                                                                  392169 non-null  int64
 40  State_GA                                                                  392169 non-null  int64
 41  State_HI                                                                  392169 non-null  int64
 42  State_IA                                                                  392169 non-null  int64
 43  State_ID                                                                  392169 non-null  int64
 44  State_IL                                                                  392169 non-null  int64
 45  State_IN                                                                  392169 non-null  int64
 46  State_KS                                                                  392169 non-null  int64
 47  State_KY                                                                  392169 non-null  int64
 48  State_LA                                                                  392169 non-null  int64
 49  State_MA                                                                  392169 non-null  int64
 50  State_MD                                                                  392169 non-null  int64
 51  State_ME                                                                  392169 non-null  int64
 52  State_MI                                                                  392169 non-null  int64
 53  State_MN                                                                  392169 non-null  int64
 54  State_MO                                                                  392169 non-null  int64
 55  State_MS                                                                  392169 non-null  int64
 56  State_MT                                                                  392169 non-null  int64
 57  State_NC                                                                  392169 non-null  int64
 58  State_ND                                                                  392169 non-null  int64
 59  State_NE                                                                  392169 non-null  int64
 60  State_NH                                                                  392169 non-null  int64
 61  State_NJ                                                                  392169 non-null  int64
 62  State_NM                                                                  392169 non-null  int64
 63  State_NV                                                                  392169 non-null  int64
 64  State_NY                                                                  392169 non-null  int64
 65  State_OH                                                                  392169 non-null  int64
 66  State_OK                                                                  392169 non-null  int64
 67  State_OR                                                                  392169 non-null  int64
 68  State_PA                                                                  392169 non-null  int64
 69  State_RI                                                                  392169 non-null  int64
 70  State_SC                                                                  392169 non-null  int64
 71  State_SD                                                                  392169 non-null  int64
 72  State_TN                                                                  392169 non-null  int64
 73  State_TX                                                                  392169 non-null  int64
 74  State_UT                                                                  392169 non-null  int64
 75  State_VA                                                                  392169 non-null  int64
 76  State_VT                                                                  392169 non-null  int64
 77  State_WA                                                                  392169 non-null  int64
 78  State_WI                                                                  392169 non-null  int64
 79  State_WV                                                                  392169 non-null  int64
 80  State_WY                                                                  392169 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(77)
memory usage: 245.3 MB

### Feature Extraction

In [28]:
# Membuat feature baru berdasarkan column Term (Membuat column RealEstate)
dfc_v2['RealEstate'] = 0
dfc_v2.loc[dfc_v2['Term'] >= 300, 'RealEstate'] = 1

In [55]:
# Membuat feature baru berdasarkan column DisbursmentDate (Membuat column Resesi)
list_resesi = []

for resesi in dfc_v2['DisbursementDate'].astype(str):
  if resesi >= '2007-12-01' and resesi <= '2009-06-30':
    resesi = 1
  else:
    resesi = 0

  list_resesi.append(resesi)

dfc_v2['Resesi'] = list_resesi

In [61]:
# Membuat feature baru berdasarkan column SBAAppv & Gr_Appv (Membuat column Portion)
dfc_v2['Portion'] = dfc_v2['SBA_Appv'] / dfc_v2['GrAppv']

In [63]:
dfc_v3 = dfc_v2.drop(['DisbursementDate',
                      'ApprovalFY'], 
                     axis=1)
dfc_v3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392169 entries, 12 to 898660
Data columns (total 82 columns):
 #   Column                                                                    Non-Null Count   Dtype
---  ------                                                                    --------------   -----
 0   Term                                                                      392169 non-null  int64
 1   NoEmp                                                                     392169 non-null  int64
 2   NewExist                                                                  392169 non-null  int64
 3   FranchiseCode                                                             392169 non-null  int64
 4   UrbanRural                                                                392169 non-null  int64
 5   LowDoc                                                                    392169 non-null  int64
 6   DisbursementGross                                                         392169 non-null  float64
 7   MIS_Status                                                                392169 non-null  int64
 8   GrAppv                                                                    392169 non-null  float64
 9   SBA_Appv                                                                  392169 non-null  float64
 10  NAICS_Administrative & Support / Waste Management / Remediation Services  392169 non-null  int64
 11  NAICS_Agriculture / Forestry / Fishing / Hunting                          392169 non-null  int64
 12  NAICS_Arts / Entertainment / Recreation                                   392169 non-null  int64
 13  NAICS_Construction                                                        392169 non-null  int64
 14  NAICS_Educational                                                         392169 non-null  int64
 15  NAICS_Finance / Insurance                                                 392169 non-null  int64
 16  NAICS_Health Care / Social Assistance                                     392169 non-null  int64
 17  NAICS_Information                                                         392169 non-null  int64
 18  NAICS_Management of Companies and Enterprises                             392169 non-null  int64
 19  NAICS_Manufacturing                                                       392169 non-null  int64
 20  NAICS_Mining / Quarrying / Oil&Gas Extraction                             392169 non-null  int64
 21  NAICS_Other Services (except public admin)                                392169 non-null  int64
 22  NAICS_Proffesional / Scientific / Tech.Service                            392169 non-null  int64
 23  NAICS_Public Administration                                               392169 non-null  int64
 24  NAICS_Real Estate / Rental / Leasing                                      392169 non-null  int64
 25  NAICS_Retail trade                                                        392169 non-null  int64
 26  NAICS_Transportation / Warehousing                                        392169 non-null  int64
 27  NAICS_Utilities                                                           392169 non-null  int64
 28  NAICS_Wholesale trade                                                     392169 non-null  int64
 29  State_AL                                                                  392169 non-null  int64
 30  State_AR                                                                  392169 non-null  int64
 31  State_AZ                                                                  392169 non-null  int64
 32  State_CA                                                                  392169 non-null  int64
 33  State_CO                                                                  392169 non-null  int64
 34  State_CT                                                                  392169 non-null  int64
 35  State_DC                                                                  392169 non-null  int64
 36  State_DE                                                                  392169 non-null  int64
 37  State_FL                                                                  392169 non-null  int64
 38  State_GA                                                                  392169 non-null  int64
 39  State_HI                                                                  392169 non-null  int64
 40  State_IA                                                                  392169 non-null  int64
 41  State_ID                                                                  392169 non-null  int64
 42  State_IL                                                                  392169 non-null  int64
 43  State_IN                                                                  392169 non-null  int64
 44  State_KS                                                                  392169 non-null  int64
 45  State_KY                                                                  392169 non-null  int64
 46  State_LA                                                                  392169 non-null  int64
 47  State_MA                                                                  392169 non-null  int64
 48  State_MD                                                                  392169 non-null  int64
 49  State_ME                                                                  392169 non-null  int64
 50  State_MI                                                                  392169 non-null  int64
 51  State_MN                                                                  392169 non-null  int64
 52  State_MO                                                                  392169 non-null  int64
 53  State_MS                                                                  392169 non-null  int64
 54  State_MT                                                                  392169 non-null  int64
 55  State_NC                                                                  392169 non-null  int64
 56  State_ND                                                                  392169 non-null  int64
 57  State_NE                                                                  392169 non-null  int64
 58  State_NH                                                                  392169 non-null  int64
 59  State_NJ                                                                  392169 non-null  int64
 60  State_NM                                                                  392169 non-null  int64
 61  State_NV                                                                  392169 non-null  int64
 62  State_NY                                                                  392169 non-null  int64
 63  State_OH                                                                  392169 non-null  int64
 64  State_OK                                                                  392169 non-null  int64
 65  State_OR                                                                  392169 non-null  int64
 66  State_PA                                                                  392169 non-null  int64
 67  State_RI                                                                  392169 non-null  int64
 68  State_SC                                                                  392169 non-null  int64
 69  State_SD                                                                  392169 non-null  int64
 70  State_TN                                                                  392169 non-null  int64
 71  State_TX                                                                  392169 non-null  int64
 72  State_UT                                                                  392169 non-null  int64
 73  State_VA                                                                  392169 non-null  int64
 74  State_VT                                                                  392169 non-null  int64
 75  State_WA                                                                  392169 non-null  int64
 76  State_WI                                                                  392169 non-null  int64
 77  State_WV                                                                  392169 non-null  int64
 78  State_WY                                                                  392169 non-null  int64
 79  RealEstate                                                                392169 non-null  int64
 80  Resesi                                                                    392169 non-null  int64
 81  Portion                                                                   392169 non-null  float64
dtypes: float64(4), int64(78)
memory usage: 248.3 MB

### New Feature

1. Menambah feature **Default_Rate** dari masing masing **sektor industri**
2. Menambah feature **Default_Rate** dari masing masing **State**
3. Membagi feature **State** menjadi **Region** untuk mengurangi jumlah kolom
4.